@charset "utf-8";

/* ーーーーーヘッダーーーーー */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  background-color: #fff;
}


.header {
  /* background-image: url("../images/common/fv01.jpg");
  position: relative; */
  /* height: 100vh; */
  /* background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}


.td {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 1000px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  min-height: 100vh;
}

.sliderb img {
  width: 100%;
  height: 700px;
}

.your-classb {
  position: absolute;
  top: 1000;
  height: 800px;
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0 25px;
}

.your-classc {
  position: absolute;
  top: 2000;
  height: 800px;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 80px;
  /*少し大きくする*/
}

.slick-prev,
.slick-next {
  width: 80px;
  height: 80px;
}

.slick-prev {
  left: 10;
  z-index: 1;
}

.slick-next {
  right: 10;
}





/* 
@keyframes fdzm {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.animation {
  animation: fdzm 4s 0s forwards;
} */